main {
  height: 500px;
  border: 2px solid green
}

.flex-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  border: 2px dashed purple;
}

.flex-container div {
  color: blue;
  font-size: 30px;
  padding: 30px;
  margin: 20px;
  border: 1px solid red;
  background-color: #FEC0CB;
}